$bg-color: #ECF0F3;
$bg-secondary: #fff;
$text-black: #1E2125;
$text-secondary:#3C3E41;
$common-color:#FF014F;
$text-white: #fff;
$bg-gradient: linear-gradient(145deg, #e2e8ec, #ffffff);
$box-shadow-gradient:5px 5px 15px #D1D9E6, -5px -5px 15px #ffffff;