/* --- === 7. testimonial Section === ---  */

#testimonial{
  background: $bg-color;
  padding-bottom: 80px;
  .section-title{
    @include section_title;
    padding-top: 60px;
    margin-bottom: 50px;
  }
  .testi-card{
    padding: 0 30px;
    .card-box{
      .card-info{
        background: $bg-gradient;
        box-shadow: $box-shadow-gradient;
        margin-right: 25px;
        max-width: 395px;
        min-width: 395px;
        padding: 30px 30px 40px 30px;
        border-radius: 10px;
        .card-thumbnail{
          overflow: hidden;
          border-radius: 10px;
          margin-bottom: 27px;
          display: flex;
          img{
            max-width: 100%;
            height: auto;
            transition: 0.4s;
            display: inline-block;
            object-fit: cover;
            width: 100%;
          }
        }
        .thumbnail-content{
          .thumbnail-sub-title{
            font-size: 12px;
            color: $common-color;
            font-weight: 500;
            text-transform: uppercase;
            letter-spacing: 2px;
            margin-bottom: 22px;
          }
          .thumbnail-title{
            color: $text-black;
            font-size: 24px;
            margin-top: 10px;
            margin-bottom: 0px;
            line-height: 34px;
          }
          .thumbnail-desc{
            color: $text-secondary;
            font-size: 14px;
          }
        }
      }
      .card-desc{
        position: relative;
        padding: 50px 40px 50px 40px;
        border-radius: 10px;
        background: $bg-gradient;
        box-shadow: $box-shadow-gradient;
        margin-top: 115px;
        &:before{
          content: "";
          position: absolute;
          width: 51px;
          height: 5px;
          background: #d9dee2;
          left: -43px;
          z-index: -1;
          top: 66px;
        }
        .card-title-area{
          display: flex;
          justify-content: space-between;
          align-items: center;
          .card-title-info{
            text-align: left;
            .title{
              font-size: 26px;
              font-weight: 500;
              margin-bottom: 10px;
            }
            .date{
              font-weight: 500;
              font-size: 16px;
              color: #7c838e;
            }
          }
          .card-rating{
            padding: 5px 17px 9px 17px;
            border-radius: 6px;
            background: $bg-gradient;
            box-shadow: $box-shadow-gradient;
            display: inline-block;
            img{
              display: inline-block;
            }
          }
        }
        .seperator{
          position: relative;
          &::after{
            content: "";
            position: absolute;
            width: 100%;
            height: 1px;
            background-color: #d9dee2;
            top: 20px;
          }
        }
        .card-pera{
          margin-top: 45px;
          font-size: 18px;
          line-height: 30px;
        }

        &:after{
          content: "";
          position: absolute;
          width: 130px;
          height: 130px;
          left: 0;
          top: -130px;
          background: transparent;
          background-image: url(/img/testimonial/quote.png);
          background-size: cover;
          z-index: -1;
          opacity: 0.2;
          background-repeat: no-repeat;
          background-position: center center;
        }
      }
    }
    .slick-dots{bottom: -50px;
      li{
        button{
          background: #CED2D5;
          border-radius: 50%;
          font-size: 0;
          line-height: 0;
          width: 11px;
          height: 11px;
          padding: 0;
          cursor: pointer;
          border: 0;
          &::before{
            content: '';
          }
        }
      }
      .slick-active button {
        background: $common-color;
        border-color: $common-color;
      }
    }
  }
  // .testi-card button.slick-prev {
  //   color: red;
  // }
}